mesa_tests/pcc/actors/ccrt/40311/40311_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 40311: PCC Schematron - Active Problems, based on PCC TF 2:6.4.3.2.3.2</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

<pattern name='Template_1.3.6.1.4.1.19376.1.5.3.1.3.6'> 
 <rule context='*[cda:templateId/@root="1.3.6.1.4.1.19376.1.5.3.1.3.6"]'> 
     <!-- Verify that the template id is used on the appropriate type of object --> 
   <assert test='../cda:section'> 
      Error: The Active Problems can only be used on sections. 
   </assert> 
   <!-- Verify that the parent templateId is also present. --> 
   <assert test='cda:templateId[@root="2.16.840.1.113883.10.20.1.11"]'> 
     Error: The parent template identifier for Active Problems is not present. 
   </assert> 
   <!-- Verify the section type code --> 
   <assert test='cda:code[@code = "11450-4"]'> 
     Error: The section type code of a Active Problems must be 11450-4 
   </assert> 
   <assert test='cda:code[@codeSystem = "2.16.840.1.113883.6.1"]'> 
     Error: The section type code must come from the LOINC code  
     system (2.16.840.1.113883.6.1). 
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.4.5.2"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Active Problems must contain Problem Concern Entry.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.3.6
   </assert> 
 </rule> 
</pattern>

</sch:schema>
