mesa_tests/pcc/actors/ccrt/40318/sch_40318.xml

<?xml version="1.0" encoding="UTF-8"?>

<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">



  <title>CTX: 40318: (Schematron)</title>

  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

  <!-- Test for the presence of HISTORY OF PREGNANCIES. We expect to find one instance.  -->
  <sch:pattern id="Z1" name = "Z1">
    <sch:rule context='/cda:ClinicalDocument'>
  
      <assert
        test='count(cda:component/cda:structuredBody/cda:component/cda:section/cda:templateId[@root="1.3.6.1.4.1.19376.1.5.3.1.1.5.3.4"]) =1'>
        ERR: Need to have exactly one component/section with template ID/root = 1.3.6.1.4.1.19376.1.5.3.1.1.5.3.4
      </assert>

    </sch:rule>
  </sch:pattern>

  <sch:pattern id="Z2" name="Z2">
    <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:templateId[@root="1.3.6.1.4.1.19376.1.5.3.1.1.5.3.4"]'>
      <sch:assert test="../cda:code[@code='10162-6']"> 
        ERR: component/section/code@code should be 10162-6
      </sch:assert>
      
      <sch:report test="../cda:code[@code='10162-6']"> 
        CTX: component/section/code@code is 10162-6 (PASS)
      </sch:report>
    </sch:rule>
  </sch:pattern>
  
  <sch:pattern id="Z3" name="Z3">
    <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:templateId[@root="1.3.6.1.4.1.19376.1.5.3.1.1.5.3.4"]'>
      <sch:assert test="../cda:code[@codeSystem='2.16.840.1.113883.6.1']"> 
        ERR: component/section/code@codeSystem should be 2.16.840.1.113883.6.1
      </sch:assert>
      
      <sch:report test="../cda:code[@codeSystem='2.16.840.1.113883.6.1']"> 
        CTX: component/section/code@codeSystem is 2.16.840.1.113883.6.1 (PASS)
      </sch:report>
    </sch:rule>
  </sch:pattern> 

  <sch:pattern id="Z4" name="Z4">
    <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:templateId[@root="1.3.6.1.4.1.19376.1.5.3.1.1.5.3.4"]'>
 
      <sch:assert test="../../cda:section[cda:text!='']"> 
        ERR: component/section/text should not be zero length.
        Suggested value is 'Patient has no previous pregnancies.'
        Maybe your system cannot generate that exact text. If so, that is OK. You should have included some text.  An empty text field is not acceptable.
      </sch:assert>

      <sch:report test="../../cda:section[cda:text!='']"> 
        CTX: component/section/text is not zero length. (PASS)
      </sch:report>

      <sch:report test="../../cda:section[cda:text='Patient has no previous pregnancies.']"> 
        CTX: component/section/text is 'Patient has no previous pregnancies.' (Exact match of expected text)
      </sch:report>

    </sch:rule>
  </sch:pattern> 

  </sch:schema>