mesa_tests/pcc/actors/ccrt/40106/40106_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 40106: Laboratory Schematron - Sharing Laboratory Results</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />
<!--
 <sch:pattern name="XPHR2">
  <sch:rule context='/cda:ClinicalDocument'>
   <sch:assert test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.2']">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.2 in cda:ClinicalDocument (Medical Summary template)
   </sch:assert>
   <sch:report test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.2']">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.2 in cda:ClinicalDocument (Medical Summary template) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>

 <sch:pattern name="XPHR5">
  <sch:rule context='/cda:ClinicalDocument'>
   <sch:assert test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.5']">
   ERR: Requires cda:templateID root =1.3.6.1.4.1.19376.1.5.3.1.1.5 in cda:ClinicalDocument (PHR Extract Module)
   </sch:assert>
   <sch:report test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.5']">
   CTX: Found cda:templateID root =1.3.6.1.4.1.19376.1.5.3.1.1.5 in cda:ClinicalDocument (PHR Extract Module) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 -->
 <sch:pattern name="realmCode">
  <sch:rule context='/cda:ClinicalDocument'>
   <sch:assert test="count(cda:realmCode) >= 1">
   ERR: Requires cda:realmCode element in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.4)
   </sch:assert>
   <sch:report test="count(cda:realmCode) >= 1">
   CTX: Found cda:realmCode element in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.4) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <!--document code-->
 <sch:pattern name="ClinicalDocument_code">
  <sch:rule context='/cda:ClinicalDocument/cda:code'>
   <sch:assert test="document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.6.1']/code[@value=current()/@code] or document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.2.1.3.2.4.15']/code[@value=current()/@code]">
   ERR: Requires valid cda:code in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.5.1)
   </sch:assert>
   <sch:report test="document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.6.1']/code[@value=current()/@code] or document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.2.1.3.2.4.15']/code[@value=current()/@code]">
   CTX: Found valid cda:code in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.5.1) (PASS)
   </sch:report>
   <!--
   <sch:assert test="@code='11502-2' and @codeSystem='2.16.840.1.113883.6.1'">
   ERR: Requires cda:code code=11502-2 and codeSystem= 2.16.840.1.113883.6.1 in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.5.1)
   </sch:assert>
   <sch:report test="@code='11502-2' and @codeSystem='2.16.840.1.113883.6.1'">
   CTX: Found cda:code code=11502-2 and codeSystem= 2.16.840.1.113883.6.1 in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.5.1) (PASS)
   </sch:report>
  -->
  </sch:rule>
 </sch:pattern>
 
 <!--confidentialityCode-->
 <sch:pattern name="ClinicalDocument_confidentialityCode">
  <sch:rule context='/cda:ClinicalDocument/cda:confidentialityCode'>
   <sch:assert test="@codeSystem='2.16.840.1.113883.5.25' and (@code='N' or @code='R' or @code='V')">
   ERR: Requires cda:confidentialityCode code=N or R or V and codeSystem= 2.16.840.1.113883.5.25 in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.7)
   </sch:assert>
   <sch:report test="@codeSystem='2.16.840.1.113883.5.25' and (@code='N' or @code='R' or @code='V')">
   CTX: Found cda:confidentialityCode code=N or R or V and codeSystem= 2.16.840.1.113883.5.25 in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.7) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <!-- versionNumber to be integer if present-->
 <sch:pattern name="ClinicalDocument_versionNumber">
  <sch:rule context='/cda:ClinicalDocument/cda:versionNumber'>
   <sch:assert test="floor(@value) = number(@value)">
   ERR: Requires cda:versionNumber shall be integer in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.9)
   </sch:assert>
   <sch:report test="floor(@value) = number(@value)">
   CTX: Found cda:versionNumber as integer in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.9) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <!-- custodian/id present, others checked in CRS-->
 <sch:pattern name="ClinicalDocument_custodian">
  <sch:rule context='cda:custodian'>
   <sch:assert test="cda:assignedCustodian/cda:representedCustodianOrganization/cda:id">
   ERR: Requires cda:assignedCustodian/cda:representedCustodianOrganization/cda:id element in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.13)
   </sch:assert>
   <sch:report test="cda:assignedCustodian/cda:representedCustodianOrganization/cda:id">
   CTX: Found cda:assignedCustodian/cda:representedCustodianOrganization/cda:id element in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.13) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <!-- informationRecipient/intendedRecipient/id present, others checked in CRS-->
 <sch:pattern name="ClinicalDocument_informationRecipient/intendedRecipient">
  <sch:rule context='cda:informationRecipient/cda:intendedRecipient'>
   <sch:assert test="cda:id">
   ERR: Requires cda:id if cda:informationRecipient/cda:intendedRecipient present in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.14)
   </sch:assert>
   <sch:report test="cda:id">
   CTX: Found cda:informationRecipient/cda:intendedRecipient/cda:id in cda:ClinicalDocument (Lab TF Sharing Lab Reports 6.14) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="serviceEvent">
  <sch:rule context='cda:ClinicalDocument'>
   <sch:assert test="not(count(cda:documentationOf/cda:serviceEvent)=0 and not(cda:code[@code='11502-2' and @codeSystem='2.16.840.1.113883.6.1'] or cda:code[@code='197431000000109' and @codeSystem='2.16.840.1.113883.2.1.3.2.4.15']))">
   ERR: cda:documentationOf/cda:serviceEvent SHALL be present for SINGLE laboratory report (Lab TF Sharing Lab Reports 6.19)
   </sch:assert>
   <!--<sch:report test="not(count(cda:documentationOf/cda:serviceEvent)=0 and not(cda:code[@code='11502-2' and @codeSystem='2.16.840.1.113883.6.1'] or cda:code[@code='197431000000109' and @codeSystem='2.16.840.1.113883.2.1.3.2.4.15']))">
   CTX: Found documentationOf/cda:serviceEvent for SINGLE laboratory report (Lab TF Sharing Lab Reports 6.19) (PASS)
   </sch:report>-->
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="Top level section">
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody'>
   <!-- P29 Up to two levels of section : tested-->
   <sch:assert test="not(//cda:section//cda:section//cda:section)">
   ERR: Require up to two levels of sections. (Lab TF Sharing Lab Reports 7)
   </sch:assert>
   <sch:report test="not(//cda:section//cda:section//cda:section)">
   CTX: NOT Found more than two levels of sections (Lab TF Sharing Lab Reports 7) (PASS)
   </sch:report>
   
   <!-- P29. SHALL contain one or more sections-->
   <sch:assert test="count(cda:component/cda:section) >=1">
   ERR: Require one or more sections. (Lab TF Sharing Lab Reports 7.1.1)
   </sch:assert>
   <sch:report test="count(cda:component/cda:section) >=1">
   CTX: Found one of more sections (Lab TF Sharing Lab Reports 7.1.1) (PASS)
   </sch:report>
   
   <!-- specialty sections SHALL NOT be nested tested-->
   <sch:assert test="not(document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.6.1']/code[@value = current()/cda:component/cda:section/cda:component/cda:section/cda:code/@code])">
   ERR: specialty sections SHALL NOT be nested (Lab TF Sharing Lab Reports 7.1.1)
   </sch:assert>
   <sch:report test="not(document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.6.1']/code[@value = current()/cda:component/cda:section/cda:component/cda:section/cda:code/@code])">
   CTX: specialty sections are not nested in cda:ClinicalDocument (Lab TF Sharing Lab Reports 7.1.1) (PASS)
   </sch:report>
   
   <!-- code is mandatory with proper code set -->
   <sch:assert test="document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.6.1']/code[@value=current()/cda:component/cda:section/cda:code/@code and @dispalyName=current()/cda:component/cda:section/cda:code/@displayName] and
		     current()/cda:component/cda:section/cda:code/@codeSystem='2.16.840.1.113883.6.1'">
   ERR: Invalid section cda:code in cda:ClinicalDocument (Lab TF Sharing Lab Reports 7.1.2)
   </sch:assert>
   <sch:report test="document('voc.xml')/systems/system[@codeSystem='2.16.840.1.113883.6.1']/code[@value=current()/cda:component/cda:section/cda:code/@code and @dispalyName=current()/cda:component/cda:section/cda:code/@displayName] and
		     current()/cda:component/cda:section/cda:code/@codeSystem='2.16.840.1.113883.6.1'">
   CTX: Found valid section cda:code in cda:ClinicalDocument (Lab TF Sharing Lab Reports 7.1.2) (PASS)
   </sch:report>
  </sch:rule>
  
  <!--  new context -->
  
  <sch:rule context="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section">
   <!-- either one or more component or one text block with non-blank text : tested-->
   <sch:assert test="(count(cda:component/cda:section) >= 1 and not(cda:text)) or (cda:text and normalize-space(cda:text)!='') and count(cda:component/cda:section) =0">
   ERR: specialty sections SHALL have EITHER one or more component elements OR one text block with non-blank text (Lab TF Sharing Lab Reports 7.1.2)
   </sch:assert>
   <sch:report test="(count(cda:component/cda:section) >= 1 and not(cda:text)) or (cda:text and normalize-space(cda:text)!='') and count(cda:component/cda:section) =0">
   CTX: specialty sections has EITHER one or more component elements OR one text block with non-blank text (Lab TF Sharing Lab Reports 7.1.2) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="Leaf section: reported items">
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section'>
   <!-- A mandatory text block with non-blank text -->
   <sch:assert test="cda:text and normalize-space(cda:text) != ''">
   ERR: Requires a MANDATORY text block with non-blank text. (Lab TF Sharing Lab Reports 7.3)  
   </sch:assert>
   <sch:report test="cda:text and normalize-space(cda:text) != ''">
   CTX: Found a MANDATORY text block with non-blank text. (Lab TF Sharing Lab Reports 7.3) (PASS)
   </sch:report>
   
   <sch:assert test="cda:code">
   ERR: Requires a MANDATORY code element in leaf sections (Lab TF Sharing Lab Reports 7.3)  
   </sch:assert>
   <sch:report test="cda:code">
   CTX: Found a MANDATORY code element in leaf sections (Lab TF Sharing Lab Reports 7.3) (PASS)
   </sch:report>  
  </sch:rule>
  
  <!--  new context -->
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:component/cda:section/cda:code'>
   <sch:assert test="normalize-space(current()/@code) != '' and normalize-space(current()/@codeSystem) != '' and normalize-space(current()/@displayName) != ''">
    ERR: Requires a MANDATORY code element with MANADATORY code, codeSystem and displayName in leaf sections. (Lab TF Sharing Lab Reports 7.3)  
   </sch:assert>
   <sch:report test="normalize-space(current()/@code) != '' and normalize-space(current()/@codeSystem) != '' and normalize-space(current()/@displayName) != ''">
   CTX: Found a MANDATORY code element with MANADATORY code, codeSystem and displayName in leaf sectionsS. (Lab TF Sharing Lab Reports 7.3) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="Level 3: Entry">
  <sch:rule context='cda:entry'>
   <!-- only one entry -->
   <sch:assert test="count(../cda:entry) = 1">
   ERR: Requires NONE or ONE entry element in each Leaf section (Lab TF Sharing Lab Reports Table 9.2-1)  
   </sch:assert>
   <sch:report test="count(../cda:entry) = 1">
   CTX: Found ONE entry element in the leaf section. (Lab TF Sharing Lab Reports Table 9.2-1) (PASS)
   </sch:report>
   
   <!-- templateId -->
   <sch:assert test="count(cda:templateId) = 1 and cda:templateId[@root = '1.3.6.1.4.1.19376.1.3.1']">
   ERR: Requires ONE entry element with CORRECT templateId (Lab TF Sharing Lab Reports Table 9.2-1)  
   </sch:assert>
   <sch:report test="count(cda:templateId) = 1 and cda:templateId[@root = '1.3.6.1.4.1.19376.1.3.1']">
   CTX: Found ONE entry element with CORRECT templateId. (Lab TF Sharing Lab Reports Table 9.2-1) (PASS)
   </sch:report>
   
   <!-- act -->
   <sch:assert test="count(cda:act) = 1 and cda:act[@classCode = 'ACT' and @moodCode = 'EVN']">
   ERR: Requires ONE entry/act with classCode = ACT and moodCode = EVN (Lab TF Sharing Lab Reports Table 9.2-1)  
   </sch:assert>
   <sch:report test="count(cda:act) = 1 and cda:act[@classCode = 'ACT' and @moodCode = 'EVN']">
   CTX: Found ONE entry/act with classCode = ACT and moodCode = EVN (Lab TF Sharing Lab Reports Table 9.2-1) (PASS)
   </sch:report>
   </sch:rule>
   
   <!--  new context -->
   <sch:rule context='cda:entry/cda:act'>
   <!-- code -->
   <sch:assert test="count(cda:code) = 1">
   ERR: Requires ONE code element in every act element(Lab TF Sharing Lab Reports Table 9.2-1)  
   </sch:assert>
   <sch:report test="count(cda:code) = 1">
   CTX: Found ONE code element in every act element (Lab TF Sharing Lab Reports Table 9.2-1) (PASS)
   </sch:report>
   
   <sch:assert test="count(cda:statusCode) = 1 and (cda:statusCode/@code = 'active' or cda:statusCode/@code = 'completed' or cda:statusCode/@code ='aborted' or cda:statusCode/@code ='obsolete')">
   ERR: Requires ONE act/statusCode with code = 'active' or 'completed' or 'aborted' or 'obsolete'. (Lab TF Sharing Lab Reports Table 9.2-1)  
   </sch:assert>
   <sch:report test="count(cda:statusCode) = 1 and (cda:statusCode/@code = 'active' or cda:statusCode/@code = 'completed' or cda:statusCode/@code ='aborted' or cda:statusCode/@code ='obsolete')">
   CTX: Found ONE act/statusCode with code = 'active' or 'completed' or 'aborted' or 'obsolete'. (Lab TF Sharing Lab Reports Table 9.2-1) (PASS)
   </sch:report>
   </sch:rule>
   
   <!--  new context -->
   <sch:rule context='cda:act/cda:confidentialitiyCode'>
   <sch:assert test="@code = 'R' or @code = 'V'">
   ERR: Requires code equals to either R or V when act/confidentialitiyCode element presents.(Lab TF Sharing Lab Reports Table 9.2-1)  
   </sch:assert>
   <sch:report test="@code = 'R' or @code = 'V'">
   CTX: Found code equals to either R or V when act/confidentialitiyCode element presents. (Lab TF Sharing Lab Reports Table 9.2-1) (PASS)
   </sch:report>
    
  </sch:rule>
 </sch:pattern>
 <!--
 <sch:pattern name="Leaf section">
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section'>
   <sch:assert test="cda:component/cda:section/cda:text/table">
   ERR: Requires a MANDATORY table with the test results belonging to the battery. (Lab TF Sharing Lab Reports 7.3.3.1.2)  
   </sch:assert>
   <sch:report test="cda:component/cda:section/cda:component/cda:section/cda:text/table">
   CTX: Found a MANDATORY table with the test results belonging to the battery. (Lab TF Sharing Lab Reports 7.3.3.1.2) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 -->
</sch:schema>
