mesa_tests/pcc/actors/ccrt/40105/40105_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 40105: PCC Schematron - XDS-MS Referral, based on PCC TF 2:6.4.1.3.6</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />


<pattern name='Template_1.3.6.1.4.1.19376.1.5.3.1.1.3'>
 <rule context='*[cda:templateId/@root="1.3.6.1.4.1.19376.1.5.3.1.1.3"]'>
   <!-- Verify that the template id is used on the appropriate type of object -->
   <assert test='../cda:ClinicalDocument'>
     Error: The Referral Summary can only be used on Clinical Documents.
   </assert> 
   <!-- Verify that the parent templateId is also present. -->
   <assert test='cda:templateId[@root="1.3.6.1.4.1.19376.1.5.3.1.1.2"]'>
     Error: The parent template identifier for Referral Summary is not present.
   </assert> 
   <!-- Verify the document type code -->
   <assert test='cda:code[@code = "34133-9"]'>
     Error: The document type code of a Referral Summary must be 34133-9
   </assert>
   <assert test='cda:code[@codeSystem = "2.16.840.1.113883.6.1"]'>
     Error: The document type code must come from the LOINC code 
     system (2.16.840.1.113883.6.1).
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.1"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Referral Summary must contain Reason for Referral.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.4"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Referral Summary must contain History Present Illness.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.6"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Referral Summary must contain Active Problems.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.19"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Referral Summary must contain Current Meds.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.13"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Referral Summary must contain Allergies.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.8"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Resolved Problems.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.11"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain List of Surgeries.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.23"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Immunizations.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.14"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Family History.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.16"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Social History.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.18"]'> 
     <!-- Note any missing optional elements -->
     Note: This Referral Summary does not contain Pertinent Review of Systems.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.25"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Vital Signs.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.24"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Physical Exam.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.27"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Relevant Diagnostic Surgical Procedures / Clinical Reports and Relevant Diagnostic Test and Reports.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3 
     (Lab, Imaging, EKG's, etc.) including links.
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.31"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Plan of Care (new meds, labs, or x-rays ordered).
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.34"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Referral Summary should contain Advance Directives.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3
   </assert> 

   <!--
   <assert test='.//cda:templateId[@root = ""]'> 
   -->
     <!-- Verify that all required data elements are present -->
   <!--
     Error: A Referral Summary must contain Patient Administrative Identifiers.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3 
     Handled by the Medical Documents Content Profile by reference to constraints in HL7 CRS.
   </assert> 
   -->

   <!--
   <assert test='.//cda:templateId[@root = ""]'> 
   -->
     <!-- Alert on any missing required if known elements -->
   <!--
     Warning: A Referral Summary should contain Pertinent Insurance Information.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3 
     Refer to Appropriate Payers Section - TBD
   </assert> 
   -->
   <!--
   <assert test='.//cda:templateId[@root = ""]'> 
   -->
     <!-- Alert on any missing required if known elements -->
   <!--
     Warning: A Referral Summary should contain Data needed for state and local referral forms, if different than above.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.3 
     These are handed by including additional sections within the summary.
   </assert> 
   -->
 </rule>
</pattern>

</sch:schema>
