mesa_tests/pcc/actors/ccrt/40104/40104_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 40104: PCC Schematron - XDS-MS Discharge Summary, based on PCC TF 2:6.4.1.4.6.</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

<pattern name='Template_1.3.6.1.4.1.19376.1.5.3.1.1.4'>
 <rule context='*[cda:templateId/@root="1.3.6.1.4.1.19376.1.5.3.1.1.4"]'>
   <!-- Verify that the template id is used on the appropriate type of object -->
   <assert test='../cda:ClinicalDocument'>
     Error: The Discharge Summary can only be used on Clinical Documents.
   </assert> 
   <!-- Verify that the parent templateId is also present. -->
   <assert test='cda:templateId[@root="1.3.6.1.4.1.19376.1.5.3.1.1.2"]'>
     Error: The parent template identifier for Discharge Summary is not present.
   </assert> 
   <!-- Verify the document type code -->
   <assert test='cda:code[@code = "18842-5"]'>
     Error: The document type code of a Discharge Summary must be 34133-9
   </assert>
   <assert test='cda:code[@codeSystem = "2.16.840.1.113883.6.1"]'>
     Error: The document type code must come from the LOINC code 
     system (2.16.840.1.113883.6.1).
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.6"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Active Problems.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.8"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Resolved Problems.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.7"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Discharge Diagnosis.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.3"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Admitting Diagnosis.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.21"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Discharge Summary should contain Selected Meds Administered.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.22"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Discharge Meds.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.20"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Discharge Summary should contain Admission Medications.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.13"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Allergies.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.5"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Hospital Course.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.34"]'> 
     <!-- Note any missing optional elements -->
     Note: This Discharge Summary does not contain Advance Directives.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.4"]'> 
     <!-- Alert on any missing required if known elements -->
     Warning: A Discharge Summary should contain History of Present Illness.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.17"]'> 
     <!-- Note any missing optional elements -->
     Note: This Discharge Summary does not contain Functional Status.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.18"]'> 
     <!-- Note any missing optional elements -->
     Note: This Discharge Summary does not contain Review of Systems.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.24"]'> 
     <!-- Note any missing optional elements -->
     Note: This Discharge Summary does not contain Physical Examination.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.25"]'> 
     <!-- Note any missing optional elements -->
     Note: This Discharge Summary does not contain Vital Signs.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.29"]'> 
     <!-- Note any missing optional elements -->
     Note: This Discharge Summary does not contain Discharge Procedures Tests, Reports.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.31"]'> 
     <!-- Verify that all required data elements are present -->
     Error: A Discharge Summary must contain Plan of Care.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
   <assert test='.//cda:templateId[@root = "1.3.6.1.4.1.19376.1.5.3.1.3.33"]'> 
     <!-- Note any missing optional elements -->
     Note: This Discharge Summary does not contain Discharge Diet.
     See http://wiki.ihe.net/index.php?title=1.3.6.1.4.1.19376.1.5.3.1.1.4
   </assert> 
 </rule>
</pattern>

</sch:schema>
