mesa_tests/iti/actors/media_crt/13520/13520_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 13520: Schematron - XDM Media Creator</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

 <sch:pattern name="EventActionCode">
  <sch:rule context='/AuditMessage'>
   
   <!-- EventActionCode=R -->
   <sch:assert test="EventIdentification[@EventActionCode='R']">
   ERR: Requires EventActionCode=R in EventIdentification (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[@EventActionCode='R']">
   CTX: Found EventActionCode=R in EventIdentification (PASS)
   </sch:report>

   <!-- EventOutcomeIndicator=0 -->
   <sch:assert test="EventIdentification[@EventOutcomeIndicator='0']">
   ERR: Requires EventOutcomeIndicator=0 in EventIdentification (RFC 3881 5.1.4 )
   </sch:assert>
   <sch:report test="EventIdentification[@EventOutcomeIndicator='0']">
   CTX: Found EventOutcomeIndicator=0 in EventIdentification (PASS)
   </sch:report>

   <!-- EventID code=110106 -->
   <sch:assert test="EventIdentification[EventID[1][@code='110106']]">
   ERR: Requires code=110106 in EventID (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[EventID[1][@code='110106']]">
   CTX: Found code=110106 in EventID (PASS)
   </sch:report>

   <!-- EventID codeSystemName=DCM -->
   <sch:assert test="EventIdentification[EventID[1][@codeSystemName='DCM']]">
   ERR: Requires codeSystemName=DCM in EventID (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[EventID[1][@codeSystemName='DCM']]">
   CTX: Found codeSystemName=DCM in EventID (PASS)
   </sch:report>

   <!-- EventID displayName=Export -->
   <sch:assert test="EventIdentification[EventID[1][@displayName='Export']]">
   ERR: Requires displayName=Export in EventID (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[EventID[1][@displayName='Export']]">
   CTX: Found displayName=Export in EventID (PASS)
   </sch:report>

   <!-- The next entry identifies the Importer -->
   <!-- ActiveParticipant UserID=smm@ihe.org -->
   <sch:assert test="ActiveParticipant[@UserID='smm@ihe.org']">
   ERR: Requires UserID=smm@ihe.org in ActiveParticipant - Required value RFC 3881, 5.2.1, arbitrary value selected by tester. This is the person performing the import (the destination)
   </sch:assert>
   <sch:report test="ActiveParticipant[@UserID='smm@ihe.org']">
   CTX: Found UserID=smm@ihe.org in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode code=110154 -->
   <sch:assert test="ActiveParticipant[1][RoleIDCode[1][@code='110154']]">
   ERR: Requires RoleIDCode code=110154 in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[1][RoleIDCode[1][@code='110154']]">
   CTX: Found RoleIDCode code=110154 in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode codeSystemName=DCM -->
   <sch:assert test="ActiveParticipant[1][RoleIDCode[1][@codeSystemName='DCM']]">
   ERR: Requires RoleIDCode codeSystemName=DCM in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[1][RoleIDCode[1][@codeSystemName='DCM']]">
   CTX: Found RoleIDCode codeSystemName=DCM in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode displayName=Destination Media -->
   <sch:assert test="ActiveParticipant[1][RoleIDCode[1][@displayName='Destination Media']]">
   ERR: Requires RoleIDCode codeSystemName=Destination Media in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[1][RoleIDCode[1][@displayName='Destination Media']]">
   CTX: Found RoleIDCode codeSystemName=Destination Media in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- The next entry identifies the source of the data -->
   <!-- ActiveParticipant UserID=zebra@hosp.org -->
   <sch:assert test="ActiveParticipant[2][@UserID='zebra@hosp.org']">
   ERR: Requires UserID=zebra@hosp.org in ActiveParticipant - Required value RFC 3881, 5.2.1, arbitrary value selected by tester. This is the person performing the import (the destination)
   </sch:assert>
   <sch:report test="ActiveParticipant[2][@UserID='zebra@hosp.org']">
   CTX: Found UserID=zebra@hosp.org in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode code=110153 -->
   <sch:assert test="ActiveParticipant[RoleIDCode[1][@code='110153']]">
   ERR: Requires RoleIDCode code=110153 in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[RoleIDCode[1][@code='110153']]">
   CTX: Found RoleIDCode code=110153 in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode codeSystemName=DCM -->
   <sch:assert test="ActiveParticipant[RoleIDCode[1][@codeSystemName='DCM']]">
   ERR: Requires RoleIDCode codeSystemName=DCM in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[RoleIDCode[1][@codeSystemName='DCM']]">
   CTX: Found RoleIDCode codeSystemName=DCM in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode displayName=Source -->
   <sch:assert test="ActiveParticipant[RoleIDCode[1][@displayName='Source']]">
   ERR: Requires RoleIDCode codeSystemName=Source in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[RoleIDCode[1][@displayName='Source']]">
   CTX: Found RoleIDCode codeSystemName=Source in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- AuditSourceIdentification AuditSourceID=CAM 11A -->
   <sch:assert test="AuditSourceIdentification[@AuditSourceID='CAM 11A']">
   ERR: Requires AuditSourceID=CAM 11A in AuditSourceIdentification (Required value RFC 3881, 5.4.2, arbitrary value selected by tester.)
   </sch:assert>
   <sch:report test="AuditSourceIdentification[@AuditSourceID='CAM 11A']">
   CTX: Found AuditSourceID=CAM 11A in AuditSourceIdentification (PASS)
   </sch:report>
   
  </sch:rule>
 </sch:pattern>

</sch:schema>
