mesa_tests/iti/actors/pmi/13540/13540_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 13540: Schematron - XDM Import </title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

 <sch:pattern name="EventActionCode">
  <sch:rule context='/AuditMessage'>
   
   <!-- EventActionCode=C -->
   <sch:assert test="EventIdentification[@EventActionCode='C']">
   ERR: Requires EventActionCode=C in EventIdentification (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[@EventActionCode='C']">
   CTX: Found EventActionCode=C in EventIdentification (PASS)
   </sch:report>

   <!-- EventOutcomeIndicator=0 -->
   <sch:assert test="EventIdentification[@EventOutcomeIndicator='0']">
   ERR: Requires EventOutcomeIndicator=0 in EventIdentification (RFC 3881 5.1.4 )
   </sch:assert>
   <sch:report test="EventIdentification[@EventOutcomeIndicator='0']">
   CTX: Found EventOutcomeIndicator=0 in EventIdentification (PASS)
   </sch:report>

   <!-- EventID code=110107 -->
   <sch:assert test="EventIdentification[EventID[1][@code='110107']]">
   ERR: Requires code=110107 in EventID (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[EventID[1][@code='110107']]">
   CTX: Found code=110107 in EventID (PASS)
   </sch:report>

   <!-- EventID codeSystemName=DCM -->
   <sch:assert test="EventIdentification[EventID[1][@codeSystemName='DCM']]">
   ERR: Requires codeSystemName=DCM in EventID (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[EventID[1][@codeSystemName='DCM']]">
   CTX: Found codeSystemName=DCM in EventID (PASS)
   </sch:report>

   <!-- EventID displayName=Import -->
   <sch:assert test="EventIdentification[EventID[1][@displayName='Import']]">
   ERR: Requires displayName=Import in EventID (DICOM Supplement 95, A.1.3.5)
   </sch:assert>
   <sch:report test="EventIdentification[EventID[1][@displayName='Import']]">
   CTX: Found displayName=Import in EventID (PASS)
   </sch:report>

   <!-- The next entry identifies the Importer -->
   <!-- ActiveParticipant UserID=smm@ihe.org -->
   <sch:assert test="ActiveParticipant[@UserID='smm@ihe.org']">
   ERR: Requires UserID=smm@ihe.org in ActiveParticipant - Required value RFC 3881, 5.2.1, arbitrary value selected by tester. This is the person performing the import (the destination)
   </sch:assert>
   <sch:report test="ActiveParticipant[@UserID='smm@ihe.org']">
   CTX: Found UserID=smm@ihe.org in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode code=110152 -->
   <sch:assert test="ActiveParticipant[1][RoleIDCode[1][@code='110152']]">
   ERR: Requires RoleIDCode code=110152 in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[1][RoleIDCode[1][@code='110152']]">
   CTX: Found RoleIDCode code=110152 in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode codeSystemName=DCM -->
   <sch:assert test="ActiveParticipant[1][RoleIDCode[1][@codeSystemName='DCM']]">
   ERR: Requires RoleIDCode codeSystemName=DCM in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[1][RoleIDCode[1][@codeSystemName='DCM']]">
   CTX: Found RoleIDCode codeSystemName=DCM in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode displayName=Destination -->
   <sch:assert test="ActiveParticipant[1][RoleIDCode[1][@displayName='Destination']]">
   ERR: Requires RoleIDCode codeSystemName=Destination in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[1][RoleIDCode[1][@displayName='Destination']]">
   CTX: Found RoleIDCode codeSystemName=Destination in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- The next entry identifies the source of the data -->
   <!-- ActiveParticipant UserID=zebra@hosp.org -->
   <sch:assert test="ActiveParticipant[2][@UserID='zebra@hosp.org']">
   ERR: Requires UserID=zebra@hosp.org in ActiveParticipant - Required value RFC 3881, 5.2.1, arbitrary value selected by tester. This is the person performing the import (the destination)
   </sch:assert>
   <sch:report test="ActiveParticipant[2][@UserID='zebra@hosp.org']">
   CTX: Found UserID=zebra@hosp.org in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode code=110155 -->
   <sch:assert test="ActiveParticipant[RoleIDCode[1][@code='110155']]">
   ERR: Requires RoleIDCode code=110155 in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[RoleIDCode[1][@code='110155']]">
   CTX: Found RoleIDCode code=110155 in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode codeSystemName=DCM -->
   <sch:assert test="ActiveParticipant[RoleIDCode[1][@codeSystemName='DCM']]">
   ERR: Requires RoleIDCode codeSystemName=DCM in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[RoleIDCode[1][@codeSystemName='DCM']]">
   CTX: Found RoleIDCode codeSystemName=DCM in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- ActiveParticipant/RoleIDCode displayName=Destination -->
   <sch:assert test="ActiveParticipant[RoleIDCode[1][@displayName='Destination']]">
   ERR: Requires RoleIDCode codeSystemName=Destination in ActiveParticipant (DICOM Supplement 95, A.1.3.5 )
   </sch:assert>
   <sch:report test="ActiveParticipant[RoleIDCode[1][@displayName='Destination']]">
   CTX: Found RoleIDCode codeSystemName=Destination in ActiveParticipant (PASS)
   </sch:report>
   
   <!-- AuditSourceIdentification AuditSourceID=CAM 11A -->
   <sch:assert test="AuditSourceIdentification[@AuditSourceID='CAM 11A']">
   ERR: Requires AuditSourceID=CAM 11A in AuditSourceIdentification (Required value RFC 3881, 5.4.2, arbitrary value selected by tester.)
   </sch:assert>
   <sch:report test="AuditSourceIdentification[@AuditSourceID='CAM 11A']">
   CTX: Found AuditSourceID=CAM 11A in AuditSourceIdentification (PASS)
   </sch:report>
   
  </sch:rule>
 </sch:pattern>

</sch:schema>
