mesa_tests/iti/actors/secure_node/11183/11183_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 11183: Schematron - Begin Storing Instances</title>

 <sch:pattern name="EventActionCode">
  <sch:rule context='/AuditMessage/EventIdentification'>
   
   <!-- EventActionCode=E -->
   <sch:assert test="@EventActionCode='E'">
   ERR: Requires EventActionCode=E in EventIdentification (DICOM Supplement 95, A.1.3.3)
   </sch:assert>
   <sch:report test="@EventActionCode='E'">
   CTE: Found EventActionCode=C in EventIdentification (PASS)
   </sch:report>

   <!-- EventOutcomeIndicator=0 -->
   <sch:assert test="@EventOutcomeIndicator='0'">
   ERR: Requires EventOutcomeIndicator=0 in EventIdentification (RFC 3881 5.1.4 )
   </sch:assert>
   <sch:report test="@EventOutcomeIndicator='0'">
   CTX: Found EventOutcomeIndicator=0 in EventIdentification (PASS)
   </sch:report>

   <!-- EventDateTime -->
   <sch:assert test="@EventDateTime">
   ERR: Requires EventDateTime (DICOM Supplement 95, A.1.3.3)
   </sch:assert>
   <sch:report test="@EventDateTime">
   CTX: Found EventDateTime (PASS)
   </sch:report>

   <sch:assert test="count(EventID) = 1">
   ERR: Requires ONLY ONE EventID (DICOM Supplement 95, schema)
   </sch:assert>
   <sch:report test="count(EventID) = 1">
   CTX: Found ONLY ONE EventID (PASS)
   </sch:report>

   <!-- EventID code=110102 -->
   <sch:assert test="EventID[@code='110102']">
   ERR: Requires code=110102 in EventID (DICOM Supplement 95, A.1.3.3)
   </sch:assert>
   <sch:report test="EventID[@code='110102']">
   CTX: Found code=110102 in EventID (PASS)
   </sch:report>

   <!-- EventID codeSystemName=DCM -->
   <sch:assert test="EventID[@codeSystemName='DCM']">

   ERR: Requires codeSystemName=DCM in EventID (DICOM Supplement 95, A.1.3.3)
   </sch:assert>
   <sch:report test="EventID[@codeSystemName='DCM']">
   CTX: Found codeSystemName=DCM in EventID (PASS)
   </sch:report>

   <!-- EventID displayName=Begin Transferring DICOM Instances-->
   <sch:assert test="EventID[@displayName='Begin Transferring DICOM Instances']">
   ERR: Requires displayName=Begin Transferring DICOM Instances in EventID (DICOM Supplement 95, A.1.3.3)
   </sch:assert>
   <sch:report test="EventID[@displayName='Begin Transferring DICOM Instances']">
   CTX: Found displayName=Begin Transferring DICOM Instances in EventID (PASS)
   </sch:report>

  </sch:rule>
 </sch:pattern>

</sch:schema>
