mesa_tests/iti/actors/doc_src/12511/crs_schematron.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE schema [
<!-- 
Replace baseURI below with a reference to the published Implementation Guide HTML.
-->
<!ENTITY baseURI "">
]>
<schema xmlns="http://www.ascc.net/xml/schematron" xmlns:cda="urn:hl7-org:v3" xmlns:crs='urn:hl7-org:crs'>
    
    <title>Schematron schema for validating conformance to IMPL_CDAR2_LEVEL1REF_US_I1_2005MAY</title>
    <ns prefix="cda" uri="urn:hl7-org:v3" />
    <ns prefix="crs" uri="urn:hl7-org:crs" />

    <pattern name='XDSMSheaderchecking'>
	<rule id='realmCode code check' context='cda:realmCode'>
		<report test="@code='US'">
			cda:realmCode OK			
		</report>
		<assert test="@code='US'">
			ERR: cda:realmCode does not match 'US'
		</assert>
	</rule>
	<rule id='typeId root check' context='cda:typeId'>
		<report test="@root='2.16.840.1.113883.1.3'">
			cda:typeId OK
		</report>
		<assert test="@root='2.16.840.1.113883.1.3'">
			ERR: typeId does not match 2.16.840.1.113883.1.3
		</assert>
	</rule>
	<rule id='title and templateId check' context='cda:ClinicalDocument'>
		<report test='count(cda:templateId)=2'>
			number of cda:templateId tags under cda:ClinicalDocument  OK
		</report>
		<assert test='count(cda:templateId)=2'>
			ERR: There should be two (2) cda:templateId tags under cda:ClinicalDocument
		</assert>
		<report test="count(cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1'])=1">
			cda:templateId tag @root OK
		</report>
		<assert test="count(cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1']) &gt; 0">
			ERR: cda:templateId tag with root 1.3.6.1.4.1.19376.1.5.3.1 not found
		</assert>
		<report test='cda:title'>
			cda:title OK
		</report>
		<assert test='cda:title'>
			ERR: cda:title not found
		</assert>
		<assert test="count(cda:code[@displayName='Discharge Summary']) &gt; 0">
			ERR: no cda:code displayName matches 'Discharge Summary'
		</assert>
	</rule>
	<rule id='code displayName check' context='cda:code'>
		<report test="parent::cda:ClinicalDocument and @displayName='Discharge Summary'">
			cda:code displayName OK
		</report>		
	</rule>
	<rule id='versionNumber value check' context='cda:versionNumber'>
		<report test="@value='1'">
			cda:versionNumber OK
		</report>
		<assert test="@value='1'">
			ERR: cda:versionNumber does not match '1'
		</assert>
	</rule>


    </pattern>
</schema>
