mesa_tests/iti/actors/doc_src/12513/crs_schematron.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE schema [
<!-- 
Replace baseURI below with a reference to the published Implementation Guide HTML.
-->
<!ENTITY baseURI "">
]>
<schema xmlns="http://www.ascc.net/xml/schematron" xmlns:cda="urn:hl7-org:v3" xmlns:crs='urn:hl7-org:crs'>
    
    <title>Schematron schema for validating conformance to IMPL_CDAR2_LEVEL1REF_US_I1_2005MAY</title>
    <ns prefix="cda" uri="urn:hl7-org:v3" />
    <ns prefix="crs" uri="urn:hl7-org:crs" />

    <pattern name='XDSMSsectionchecking'>
	<rule id='templateId check' context='cda:ClinicalDocument'>
		<report test="count(cda:component[cda:structuredBody[cda:component[cda:section[cda:entry[cda:observation[cda:id[@extension='484.1.problem-4' and @root='1.3.6.1.4.1.21367.2006.1.2.103.10']]]]]]]) &gt; 0">
			cda:id @extenstion='484.1.problem-4' OK
		</report>
		<assert test="count(cda:component[cda:structuredBody[cda:component[cda:section[cda:entry[cda:observation[cda:id[@extension='484.1.problem-4' and @root='1.3.6.1.4.1.21367.2006.1.2.103.10']]]]]]]) &gt; 0">
			ERR: cda:id @extension='484.1.problem-4' @root='1.3.6.1.4.1.21367.2006.1.2.103.10' not found
		</assert>
		<assert test="count(cda:component[cda:structuredBody[cda:component[cda:section[cda:entry[cda:observation[cda:code[@codeSystemName='SNOMED CT' and  @codeSystem='2.16.840.1.113883.6.96' and @code='246188002' and @displayName='Finding']]]]]]]) &gt; 0">
			ERR: no cda:code codeSystemName='SNOMED CT' and codeSystem='2.16.840.1.113883.6.96' and code='246188002' and displayName='Finding' found
		</assert>
		<report test="count(cda:component[cda:structuredBody[cda:component[cda:section[cda:entry[cda:observation[cda:code[@codeSystemName='SNOMED CT' and  @codeSystem='2.16.840.1.113883.6.96' and @code='246188002' and @displayName='Finding']]]]]]]) &gt; 0">
			cda:code codeSystemName='SNOMED CT' displayName='Finding' OK
		</report>
		<report test="cda:component[cda:structuredBody[cda:component[cda:section[cda:entry[cda:observation[cda:effectiveTime]]]]]]">
			cda:effectiveTime OK
		</report>
		<assert test="cda:component[cda:structuredBody[cda:component[cda:section[cda:entry[cda:observation[cda:effectiveTime]]]]]]">
			ERR: cda:effectiveTime not found
		</assert>
		<report test="count(cda:templateId[@root='2.16.840.1.113883.10' and @extension='IMPL_CDAR2_LEVEL1-2REF_US_I2_2005SEP'])=1">
			cda:templateId tag @root and @extension OK
		</report>
		<assert test="count(cda:templateId[@root='2.16.840.1.113883.10' and @extension='IMPL_CDAR2_LEVEL1-2REF_US_I2_2005SEP'])=1">
			ERR: cda:templateId tag with root 2.16.840.1.113883.10 and extension 'IMPL_CDAR2_LEVEL1-2REF_US_I2_2005SEP' not found
		</assert>
	</rule>
    </pattern>
</schema>
