mesa_tests/iti/actors/secure_node/11188/11188_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 11188: Schematron - Mobile Machine Event/ Enter</title>

 <sch:pattern name="EventActionCode">
  <sch:rule context='/AuditMessage/EventIdentification'>
   
   <!-- EventActionCode=E -->
   <sch:assert test="@EventActionCode='C'">
   ERR: Requires EventActionCode=C in EventIdentification (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="@EventActionCode='C'">
   CTE: Found EventActionCode=C in EventIdentification (PASS)
   </sch:report>

   <!-- EventOutcomeIndicator=0 -->
   <sch:assert test="@EventOutcomeIndicator='0'">
   ERR: Requires EventOutcomeIndicator=0 in EventIdentification (RFC 3881 5.1.4 )
   </sch:assert>
   <sch:report test="@EventOutcomeIndicator='0'">
   CTX: Found EventOutcomeIndicator=0 in EventIdentification (PASS)
   </sch:report>

   <!-- EventDateTime -->
   <sch:assert test="@EventDateTime">
   ERR: Requires EventDateTime (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="@EventDateTime">
   CTX: Found EventDateTime (PASS)
   </sch:report>

   <sch:assert test="count(EventID) = 1">
   ERR: Requires ONLY ONE EventID (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="count(EventID) = 1">
   CTX: Found ONLY ONE EventID (PASS)
   </sch:report>

   <!-- EventID code=110108 -->
   <sch:assert test="EventID[@code='110108']">
   ERR: Requires code=110108 in EventID (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="EventID[@code='110108']">
   CTX: Found code=110108 in EventID (PASS)
   </sch:report>

   <!-- EventID codeSystemName=DCM -->
   <sch:assert test="EventID[@codeSystemName='DCM']">

   ERR: Requires codeSystemName=DCM in EventID (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="EventID[@codeSystemName='DCM']">
   CTX: Found codeSystemName=DCM in EventID (PASS)
   </sch:report>

   <!-- EventID displayName=Netwok Entry-->
   <sch:assert test="EventID[@displayName='Netwok Entry']">
   ERR: Requires displayName=Netwok Entry in EventID (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="EventID[@displayName='Netwok Entry']">
   CTX: Found displayName=Netwok Entry in EventID (PASS)
   </sch:report>

   <!-- EventTypeCode code=110124 -->
   <sch:assert test="EventTypeCode[@code='110124']">
   ERR: Requires code=110124 in EventTypeCode (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="EventTypeCode[@code='110124']">
   CTX: Found code=110124 in EventTypeCode (PASS)
   </sch:report>

   <!-- EventTypeCode codeSystemName=DCM -->
   <sch:assert test="EventTypeCode[@codeSystemName='DCM']">
   ERR: Requires codeSystemName=DCM in EventTypeCode (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="EventTypeCod[@codeSystemName='DCM']">
   CTX: Found codeSystemName=DCM in EventTypeCode (PASS)
   </sch:report>

   <!-- EventTypeCode displayName=Attach -->
   <sch:assert test="EventTypeCode[@displayName='Attach']">
   ERR: Requires displayName=Attach in EventTypeCode (DICOM Supplement 95, A.1.3.9)
   </sch:assert>
   <sch:report test="EventTypeCode[@displayName='Attach']">
   CTX: Found displayName=Attach in EventTypeCode (PASS)
   </sch:report>

  </sch:rule>
 </sch:pattern>

</sch:schema>
