mesa_tests/iti/actors/secure_node/11199/11199_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 11199: Schematron - ATNA QUERY</title>

 <sch:pattern name="EventIdentification">
  <sch:rule context='/AuditMessage'>
    <!-- EventIdentification -->
    <sch:assert test="count(EventIdentification) = 1">
    ERR: Requires ONE EventIdentification in AuditMessage (RFC 3881 5.1)
    </sch:assert>
    <sch:report test="count(EventIdentification) = 1">
    CTX: Found ONE EventIdentification in AuditMessage (PASS)
    </sch:report>
  </sch:rule>
  
  <sch:rule context='/AuditMessage/EventIdentification'> 
   <!-- EventActionCode=E -->
   <sch:assert test="@EventActionCode='E'">
   ERR: Requires EventActionCode=E in EventIdentification (DICOM Supplement 95, A.1.3.13)
   </sch:assert>
   <sch:report test="@EventActionCode='E'">
   CTX: Found EventActionCode=E in EventIdentification (PASS)
   </sch:report>

   <sch:assert test="@EventOutcomeIndicator='0'">
   ERR: Requires EventOutcomeIndicator=0 in EventIdentification (RFC 3881 5.1.4 )
   </sch:assert>
   <sch:report test="@EventOutcomeIndicator='0'">
   CTX: Found EventOutcomeIndicator=0 in EventIdentification (PASS)
   </sch:report>
   
   <!-- EventDateTime -->
   <sch:assert test="@EventDateTime">
   ERR: Requires EventDateTime (DICOM Supplement 95, A.1.3.13)
   </sch:assert>
   <sch:report test="@EventDateTime">
   CTX: Found EventDateTime (PASS)
   </sch:report>
   
   <sch:assert test="count(EventID) = 1">
   ERR: Requires ONLY ONE EventID (DICOM Supplement 95, schema)
   </sch:assert>
   <sch:report test="count(EventID) = 1">
   CTX: Found ONLY ONE EventID (PASS)
   </sch:report>

   <sch:assert test="EventID[@code='110112']">
   ERR: Requires code=110112 in EventID (DICOM Supplement 95, A.1.3.13)
   </sch:assert>
   <sch:report test="EventID[@code='110112']">
   CTX: Found code=110112 in EventID (PASS)
   </sch:report>

   <!-- EventID codeSystemName=DCM -->
   <sch:assert test="EventID[@codeSystemName='DCM']">
   ERR: Requires codeSystemName=DCM in EventID (DICOM Supplement 95, A.1.3.13)
   </sch:assert>
   <sch:report test="EventID[@codeSystemName='DCM']">
   CTX: Found codeSystemName=DCM in EventID (PASS)
   </sch:report>
   
   <!-- EventID displayName=Query-->
   <sch:assert test="EventID[@displayName='Query']">
   ERR: Requires displayName=Query in EventID (DICOM Supplement 95, A.1.3.13)
   </sch:assert>
   <sch:report test="EventID[@displayName='Query']">
   CTX: Found displayName=Query in EventID (PASS)
   </sch:report>

  </sch:rule>
 </sch:pattern>

</sch:schema>
