mesa_tests/pcc/actors/ccrt/40003/40003_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 40003: Patient Demographics (Schematron)</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

  <sch:pattern name="">
    <sch:rule context='cda:ClinicalDocument'>

      <!-- First test is given name: Frederick -->
      <sch:assert test="cda:recordTarget[cda:patientRole[cda:patient[cda:name[cda:given = 'Frederick']]]]"> 
        ERR: recordTarget/patientRole/patient/name/given should be Frederick
      </sch:assert>
      <sch:report test="cda:recordTarget[cda:patientRole[cda:patient[cda:name[cda:given = 'Frederick']]]]"> 
        CTX: recordTarget/patientRole/patient/name/given is Frederick (PASS)
      </sch:report>

      <!-- Second test is family name: Randolph -->
      <sch:assert test="cda:recordTarget[cda:patientRole[cda:patient[cda:name[cda:family = 'Randolph']]]]"> 
	ERR: recordTarget/patientRole/patient/name/family should be Randolph
      </sch:assert>
      <sch:report test="cda:recordTarget[cda:patientRole[cda:patient[cda:name[cda:family = 'Randolph']]]]"> 
	CTX: recordTarget/patientRole/patient/name/family is Randolph (PASS)
      </sch:report>

      <!-- Third test is DOB -->
      <sch:assert test="cda:recordTarget[cda:patientRole[cda:patient[cda:birthTime[@value = '19590203']]]]"> 
	ERR: recordTarget/patientRole/patient/birthTime@value should be 19590203
      </sch:assert>
      <sch:report test="cda:recordTarget[cda:patientRole[cda:patient[cda:birthTime[@value = '19590203']]]]"> 
	CTX: recordTarget/patientRole/patient/birthTime@value is 19590203 (PASS)
      </sch:report>

      <!-- Fourth test is Sex/administrativeGenderCode-->
      <sch:assert test="cda:recordTarget[cda:patientRole[cda:patient[cda:administrativeGenderCode[@codeSystem = '2.16.840.1.113883.5.1']]]]"> 
	ERR: recordTarget/patientRole/patient/administrativeGenderCode@codeSystem should be 2.16.840.1.113883.5.1
      </sch:assert>
      <sch:report test="cda:recordTarget[cda:patientRole[cda:patient[cda:administrativeGenderCode[@codeSystem = '2.16.840.1.113883.5.1']]]]"> 
	CTX: recordTarget/patientRole/patient/administrativeGenderCode@codeSystem is 2.16.840.1.113883.5.1 (PASS)
      </sch:report>

      <sch:assert test="cda:recordTarget[cda:patientRole[cda:patient[cda:administrativeGenderCode[@code = 'M']]]]"> 
	ERR: recordTarget/patientRole/patient/administrativeGenderCode@code should be M
      </sch:assert>
      <sch:report test="cda:recordTarget[cda:patientRole[cda:patient[cda:administrativeGenderCode[@code = 'M']]]]"> 
	CTX: recordTarget/patientRole/patient/administrativeGenderCode@code is M (PASS)
      </sch:report>

      <!-- Fifth test is Patient ID -->
      <sch:assert test="cda:recordTarget[cda:patientRole[cda:id[@extension = '40003']]]"> 
        ERR: recordTarget/patientRole/id/@extension should be 40003
      </sch:assert>
      <sch:report test="cda:recordTarget[cda:patientRole[cda:id[@extension = '40003']]]"> 
        CTX: recordTarget/patientRole/id/@exttension is 40003 (PASS)
      </sch:report>

      <sch:assert test="cda:recordTarget[cda:patientRole[cda:id[@root = '1.3.6.1.4.1.21367.2005.1.1']]]"> 
        ERR: recordTarget/patientRole/id/@root should be 1.3.6.1.4.1.21367.2005.1.1
      </sch:assert>
      <sch:report test="cda:recordTarget[cda:patientRole[cda:id[@root = '1.3.6.1.4.1.21367.2005.1.1']]]"> 
        CTX: recordTarget/patientRole/id/@root is 1.3.6.1.4.1.21367.2005.1.1 (PASS)
      </sch:report>

    </sch:rule>

  </sch:pattern>
    
</sch:schema>
