mesa_tests/pcc/actors/ccrt/40100/40100_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 40100: PCC Schematron - XPHR</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

 <sch:pattern name="XPHR2">
  <sch:rule context='/cda:ClinicalDocument'>
   <sch:assert test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.2']">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.2 in cda:ClinicalDocument (Medical Summary template)
   </sch:assert>
   <sch:report test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.2']">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.2 in cda:ClinicalDocument (Medical Summary template) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>

 <sch:pattern name="XPHR5">
  <sch:rule context='/cda:ClinicalDocument'>
   <sch:assert test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.5']">
   ERR: Requires cda:templateID root =1.3.6.1.4.1.19376.1.5.3.1.1.5 in cda:ClinicalDocument (PHR Extract Module)
   </sch:assert>
   <sch:report test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.5']">
   CTX: Found cda:templateID root =1.3.6.1.4.1.19376.1.5.3.1.1.5 in cda:ClinicalDocument (PHR Extract Module) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="Vital Signs">
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody'>
   <sch:assert test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.5.3.2']]]">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.5.3.2 in cda:ClinicalDocument (Vital Signs template)
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.5.3.2']]]">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.5.3.2 in cda:ClinicalDocument (Vital Signs template) (PASS)
   </sch:report>
   
   <sch:assert test="cda:component[cda:section[cda:code[@code='8716-3']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]">
   ERR: Requires cda:code code=8716-3 and codeSystem= 2.16.840.1.113883.6.1 in Vital Signs section
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:code[@code='8716-3']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]">
   CTX: Found cda:code code=8716-3 and codeSystem= 2.16.840.1.113883.6.1 in Vital Signs section (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
<!--
 <sch:pattern name="Vital Signs Entries">
  <sch:rule context="/cda:ClinicalDocument/cda:component/cda:structuredBody/cda:component/cda:section/cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.5.3.2']">
  </sch:rule>
 </sch:pattern>
-->
<!-- Medication -->
 <sch:pattern name="Medications">
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody'>
   <sch:assert test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.3.19']]]">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.3.19 in cda:ClinicalDocument (Medications template)
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.13.19']]]">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.3.19 in cda:ClinicalDocument (Medications template) (PASS)
   </sch:report>
   
   <sch:assert test="cda:component[cda:section[cda:code[@code='10160-0']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]">
   ERR: Requires cda:code code=10160-0 and codeSystem= 2.16.840.1.113883.6.1 in Medications section
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:code[@code='10160-0']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]">
   CTX: Found cda:code code=10160-0 and codeSystem= 2.16.840.1.113883.6.1 in Medications section (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="Medications Entry">
  <sch:rule context="/cda:ClinicalDocument/cda:component/cda:structuredBody">
   <sch:assert test="cda:component[cda:section[cda:entry[cda:substanceAdministration[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.7']]]]]">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.4.7 in cda:ClinicalDocument (Medications entry template)
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:entry[cda:substanceAdministration[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.7']]]]]">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.4.7 in cda:ClinicalDocument (Medications entry template) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <!-- Conditions -->
 <sch:pattern name="Conditions">
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody'>
   <sch:assert test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.3.6']]] or cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.3.8']]]">
   ERR: Requires cda:templateId root= 1.3.6.1.4.1.19376.1.5.3.1.3.6 or 1.3.6.1.4.1.19376.1.5.3.1.3.8 in cda:ClinicalDocument (Conditions template)
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.3.6']]] or cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.3.8']]]">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.3.6 or 1.3.6.1.4.1.19376.1.5.3.1.3.8 in cda:ClinicalDocument (Conditions template) (PASS)
   </sch:report>
   
   <sch:assert test="(cda:component[cda:section[cda:code[@code='11450-4']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]) or
                     (cda:component[cda:section[cda:code[@code='11348-0']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]])">
   ERR: Requires cda:code code=46240-8 or 11348-0 with codeSystem= 2.16.840.1.113883.6.1 in Conditions section
   </sch:assert>
   <sch:report test="(cda:component[cda:section[cda:code[@code='11450-4']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]) or
                     (cda:component[cda:section[cda:code[@code='11348-0']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]])">
   CTX: Found cda:code code=46240-8 or 11348-0 with codeSystem= 2.16.840.1.113883.6.1 in Conditions section (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="Concern Entry">
  <sch:rule context="/cda:ClinicalDocument/cda:component/cda:structuredBody">
   <sch:assert test="cda:component[cda:section[cda:entry[cda:act[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.5.1']]]]]">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.4.5.1 in cda:ClinicalDocument (Concern entry template)
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:entry[cda:act[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.5.1']]]]]">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.4.5.1 in cda:ClinicalDocument (Concern entry template) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <!-- Allergies and Drug Sesitivies-->
 <sch:pattern name="Allergies">
  <sch:rule context='/cda:ClinicalDocument/cda:component/cda:structuredBody'>
   <sch:assert test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.3.13']]]">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.3.13 in cda:ClinicalDocument (Allergies template)
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.3.13']]]">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.3.13 in cda:ClinicalDocument (Allergies template) (PASS)
   </sch:report>
   
   <sch:assert test="cda:component[cda:section[cda:code[@code='10155-0']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]">
   ERR: Requires cda:code code=10155-0 and codeSystem= 2.16.840.1.113883.6.1 in Allergies section
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:code[@code='10155-0']]] and cda:component[cda:section[cda:code[@codeSystem='2.16.840.1.113883.6.1']]]">
   CTX: Found cda:code code=10155-0 and codeSystem= 2.16.840.1.113883.6.1 in Allergies section (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="Allergies Entry">
  <sch:rule context="/cda:ClinicalDocument/cda:component/cda:structuredBody">
   <sch:assert test="cda:component[cda:section[cda:entry[cda:observation[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.5']]]]] and cda:component[cda:section[cda:entry[cda:observation[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.6']]]]]">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.4.5 and root=1.3.6.1.4.1.19376.1.5.3.1.4.6 in cda:ClinicalDocument (Allergies entry template)
   </sch:assert>
   <sch:report test="cda:component[cda:section[cda:entry[cda:observation[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.5']]]]] and cda:component[cda:section[cda:entry[cda:observation[cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.4.6']]]]]">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.4.5 and root=1.3.6.1.4.1.19376.1.5.3.1.4.6 in cda:ClinicalDocument (Allergies entry template) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <!-- Healthcare Providers-->
 <sch:pattern name="Healthcare Providers">
  <sch:rule context='/cda:ClinicalDocument/cda:documentationOf'>
   <sch:assert test="count(cda:serviceEvent) = 1">
   ERR: A CCD SHALL contains exactly one cda:serviceEvent in cda:ClinicalDocument (Healthcare Provider template)
   </sch:assert>
   <sch:report test="count(cda:serviceEvent) = 1">
   CTX: Found one cda:serviceEvent in cda:ClinicalDocument (Healthcare Provider template) (PASS)
   </sch:report>
   
   <sch:assert test="cda:serviceEvent[@classCode='PCPR']">
   ERR: The classCode value of seviceEvent SHALL be PCRP in cda:ClinicalDocument (Healthcare Provider template)
   </sch:assert>
   <sch:report test="cda:serviceEvent[@classCode='PCPR']">
   CTX: Found classCode=PCRP of cda:serviceEvent in cda:ClinicalDocument (Healthcare Provider template) (PASS)
   </sch:report>
  </sch:rule>

  <sch:rule context="/cda:ClinicalDocument/cda:documentationOf/cda:serviceEvent[@classCode='PCPR']">
   <sch:assert test="count(cda:performer) > 0">
   ERR: Relevant care providers SHOULD be recorded within cda:serviceEvent/@classCode=PCRP in cda:ClinicalDocument (Healthcare Provider template)
   </sch:assert>
   <sch:report test="count(cda:performer) > 0">
   CTX: Found relevant care providers within cda:serviceEvent/@classCode=PCRP in cda:ClinicalDocument (Healthcare Provider template) (PASS)
   </sch:report>
   
   <sch:assert test="(string-length(cda:effectiveTime/cda:low/@value) > 7) and (string-length(cda:effectiveTime/cda:high/@value) > 7)">
   ERR: serviceEvent.effectiveTime SHALL be present and SHALL contains both low and high elements (Healthcare Provider template)
   </sch:assert>
   <sch:report test="(string-length(cda:effectiveTime/cda:low/@value) > 7) and (string-length(cda:effectiveTime/cda:high/@value) > 7)">
   CTX: Found serviceEvent.effectiveTime and both low and high elements (Healthcare Provider template)  (PASS)
   </sch:report>
   
  </sch:rule>
 </sch:pattern>

</sch:schema>
