mesa_tests/pcc/actors/ccrt/40102/40102_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">

  <title>CTX: 40102: PCC Schematron - BPPC</title>
  <ns prefix="cda" uri="urn:hl7-org:v3" />
  <ns prefix="crs" uri="urn:hl7-org:crs" />

 <sch:pattern name="BPPC1">
  <sch:rule context='/cda:ClinicalDocument'>
   <sch:assert test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.1']">
   ERR: Requires cda:templateID root =1.3.6.1.4.1.19376.1.5.3.1.1.1 in cda:ClinicalDocument (Medical Document Template)
   </sch:assert>
   <sch:report test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.1']">
   CTX: Found cda:templateID root =1.3.6.1.4.1.19376.1.5.3.1.1.1 in cda:ClinicalDocument (Medical Document Template) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="BPPC7">
  <sch:rule context='/cda:ClinicalDocument'>
   <sch:assert test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.7']">
   ERR: Requires cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.7 in cda:ClinicalDocument (Basic Patient Privacy Consent Module)
   </sch:assert>
   <sch:report test="cda:templateId[@root='1.3.6.1.4.1.19376.1.5.3.1.1.7']">
   CTX: Found cda:templateId root=1.3.6.1.4.1.19376.1.5.3.1.1.7 in cda:ClinicalDocument (Basic Patient Privacy Consent Module) (PASS)
   </sch:report>
  </sch:rule>
 </sch:pattern>
 
 <sch:pattern name="RequiredHeaders">
  <sch:rule context='/cda:ClinicalDocument'>
   
   <sch:assert test="count(cda:authorization[@typeCode='AUTH']) &gt; 0">
   ERR: At lease one authorization element must be present in a consent document. (Basic Patient Privacy Consent Module)
   </sch:assert>
   <sch:report test="count(cda:authorization[@typeCode='AUTH']) &gt; 0">
   CTX: Found at lease one authorization element. (Basic Patient Privacy Consent Module) (PASS)
   </sch:report>
  
   <sch:assert test="count(cda:documentationOf) = 1">
   ERR: A consent shall have a documentationOf element. (Basic Patient Privacy Consent Module)
   </sch:assert>
   <sch:report test="count(cda:documentationOf) = 1">
   CTX: Found a documentationOf element in the consent. (Basic Patient Privacy Consent Module) (PASS)
   </sch:report>
   
  </sch:rule>
 </sch:pattern> 
 


</sch:schema>
